<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--suppress ALL -->
<mapper namespace="com.lsy.mapper.UserInfoMapper">

    <select id="getAll" resultType="com.lsy.entity.UserInfo">
        SELECT *
        FROM user
        WHERE age > #{age}
    </select>

    <select id="getAll" resultType="com.lsy.entity.UserInfo">
        SELECT * FROM user ${ew.customSqlSegment}
    </select>

    <select id="selectPage2" resultType="com.lsy.entity.UserInfo">
        SELECT * FROM user WHERE age > #{age}
    </select>
</mapper>